body

{

  background-color: black;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  font-size: 22px;

 }





header {

        display: flex;
        height: 69px;
        padding-left: 10px;
        position: fixed;
        z-index: 1;
        border-bottom: 1px solid seashell;
        width: 100%;
          left: 0; right: 0;
          top: 0;
        align-items: center;
        background-color: black;

}

header nav a
{

text-decoration: underline;
margin-right: 30px;
color: white;


}


.logo {

  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;

}


.logo img
{
   height: 50px;
   padding-left: 10px;
}

/*upper part*/


.upper-section
{

  display: flex;
  padding-top: 80px;
}


.background-image
{

background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
position: relative;
height: 700px;
width: 1200px;
margin-left: auto;
margin-right: auto;
}

.purpose

{
  display: block;
  position: relative;
  top: 50%;
  height: 100px;
  margin-top: -50px;
  width: 100%;
  background-color: black;

}


.middle-section

{

display: flex;
flex-direction: row;
justify-content: center;



}

.middle-section .flavor

{
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: wrap;
width: 1000px;
align-items: center;

}

img.offering

{

height: 200px;
width: 300px;

}

.lower-section
{
  display: flex;
  justify-content: center;

}


.location
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  height: 500px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;

}


.location .downtown

{
  height: 280px;
  width: 300px;
  background-color: black;
  opacity: 1;
}

.location .east-bayside

{

  height: 280px;
  width: 300px;
  background-color: black;

}

.location .oakdale

{

  height: 280px;
  width: 300px;
  background-color: black;



}

.contact

{

height: 200px;

}



footer

{

text-align: left;
margin-left: 20px;



}
