body

{

  background-color: black;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  font-size: 22px;

 }





header {

        display: flex;
        height: 69px;
        padding-left: 10px;
        position: fixed;
        z-index: 1;
        border-bottom: 1px solid seashell;
        width: 100%;
        align-items: center;
        padding-bottom: 10px;


}

header nav a
{

text-decoration: underline;
margin-right: 30px;
color: white;


}


.logo {

  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;

}


.logo img
{
   height: 50px;
   padding-left: 10px;
}

/*upper part*/


.upper-section
{

  display: flex;
  padding-top: 80px;


}


.background-image
{

background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
height: 700px;
width: 1200px;
margin-left: auto;
margin-right: auto;
}

.mission

{
  display: block;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: black;

}


.middle-section

{

display: flex;
flex-direction: row;
margin-top: 100px;



}

.Teas

{

display: flex;
align-text: center;

}


img.offering

{

height: 200px;
width: 300px;

}

.lower-section
{

}






.location-image
{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  height: 700px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.location-image .downtown

{
  height: 300px;
  width: 300px;
  background-color: black;
}

.location-image .east-bayside

{

  height:300px;
  width: 300px;
  background-color: black;

}

.location-image .oakdale

{

  height: 300px;
  width: 300px;
  background-color: black;

}
